body {
    margin: 0;
    padding: 0;
    background: url(cvfarisya.jpg);
    background-position: center;
    font-family:'Yeseva One',cursive;
 }
header{   
    overflow: hidden;
} 
#top-header{  
    text-align: center;
    height: 35px;
}
#menu{
    float: stretch;
    width: 100%;
    height: 100%;
    margin: none;
    position: absolute;
    top: 0;
}  
#menu ul{
    text-align: center;
    float: none;
    margin: none;
    background:  rgb(211, 233, 243);
} 
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}    
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;  
}     
#menu li a{       
    color: black;
    font-family: "Times New Roman", Times, serif;
}     
#menu li:hover a, #menu li span{
    background: rgba(255, 255, 255, 0.8);
    color: rgb(191, 230, 248);
    border-left: 1px solid  rgb(211, 233, 243);
    text-decoration: none;
}  
.dropdown {
    display: inline-block;
    position: relative;
} 
button{
    border:none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
}
button:hover{
    background: rgba(255, 255, 255, 0.788);
    color:  rgb(191, 230, 248);
} 
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: rgb(214, 237, 247);
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}  
.dropdown:hover .dropdown-options {
    display: block;
}
.dropdown-options a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    padding: 20px 40px;  
}
.dropdown-options a:hover {
    color: white;
    background-color: rgba(185, 227, 247, 0.644);
    border-radius: 5px;
}
li {
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 50;    
    text-align: left;
}
li a {
   text-decoration: none;  
   color: white;  
}
h2 {
    text-align: center;
    background-color: rgba(210, 234, 241, 0.801);
}
img {
     border-radius: 50%;
     border: black solid 2px;
     width: 100px;
     height: 100px;
}
.profile,.biography {
    background-color: rgba(211, 233, 243, 0.548);
    display: inline-block;
    margin: 80px 60px;
    padding: 20px;
    border-radius: 1%;
    text-align: justify;
}